@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  column-gap: 2rem;
}

.overview {
  grid-column: 2/3;
  margin-top: 40px;
  overflow: auto;
}

h1 {
  letter-spacing: 1px;
  margin: 10px 0 0 0;
  grid-column: 2/3;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
  margin: 40px 0 15px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.bold-title {
  font-family: "Baloo Tamma 2";
  font-weight: bold;
}

.form-control {
  position: relative;
}

.form-control > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 78%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.form-control > input {
  padding-left: 25px;
  padding-right: 0;
}

.history-search {
  margin: 40px 0 0px 0;
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.history-search > h3 {
  border: none;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.history-search button {
  height: 30px;
  width: 30px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
  font-size: 1.17em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.history-search button:hover {
  color: white;
  background-color: #9c88ff;
}

.history-search input {
  height: 30px;
  width: calc(100% - 30px) !important;
  outline: none !important;
  bottom: 6px;
  background-color: #f7f7f7;
  position: absolute;
  border: 1px solid #9c88ff !important;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  height: 500px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  overflow: auto;
  position: relative;
}

.list li {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0 12px 0;
  cursor: pointer;
}

/* .list-buttons {
  position: absolute;
  right: 0;
  z-index: -1;
  display: flex;
}

.list-buttons button {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 5px;
  width: 20px;
  color: white;
  border: 0;
  padding: 2px 0;
  outline: none;
  cursor: pointer;
} */

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.date-span {
  position: sticky;
  top: 0px;
  padding: 7px;
  width: 25%;
  font-size: 13px;
  border-radius: 20px;
  color: white;
  background-color: #9c88ff;
  z-index: 2;
}
/* 
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
} */

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }

  .history-search {
    margin: 20px 0 0 0;
  }
}
