@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");

:root {
  --box-shadow: 1px 2px rgba(0, 0, 0, 0.24);
  --primary-color: #9c88ff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: "Lato", sans-serif;
  position: relative;
}

/* AUTH PAGES */

.auth-pages {
  color: white;
  background-color: #765ef0;
}

.auth-pages h2 {
  margin: 0;
}

.upper-titles {
  grid-column: 2/3;
}

.auth-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
}

.auth-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.auth-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
}

.auth-form form button {
  margin-top: 20px;
}

.bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-text a {
  margin-left: 5px;
  font-size: 14px;
  color: rgb(226, 225, 225);
  text-decoration: none;
}

.navbar-links {
  display: flex;
  flex-direction: row-reverse;
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none;
}

.navbar-links li {
  margin: 0 0 0 10px;
}

.navbar-links a {
  color: #7d7e7e;
  text-decoration: none;
}

/* MAIN PAGES */

.container {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(20em, 25em)) 1fr;
  grid-template-rows: 20px 1fr;
  height: 100vh;
  column-gap: 2rem;
}

.overview {
  grid-column: 2/3;
  margin-top: 40px;
  height: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  grid-column: 2/3;
}

h3 {
  height: 36px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
  margin: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

h5 {
  margin: 0;
}

.bold-title {
  font-family: "Baloo Tamma 2";
  font-weight: bold;
}

.input-fields {
  position: absolute;
  top: 110%;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 10;
  border-radius: 10px;
}

.form-control {
  position: relative;
}

.form-control > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 78%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.form-control > input {
  padding-left: 25px;
  padding-right: 0;
}

/* OPTIONS & SEARCH PANEL */

.search-panel,
.options-panel {
  margin: 40px 0 0px 0;
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search-panel h3,
.options-panel h3 {
  height: 35px;
  border: none;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.options-div {
  display: flex;
  justify-content: center;
}

.actionable-button {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1.17em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.actionable-button:hover {
  color: white;
  background-color: var(--primary-color);
}

.search-panel-input {
  height: 30px;
  width: calc(100% - 30px) !important;
  outline: none !important;
  bottom: 6px;
  background-color: #f7f7f7;
  position: absolute;
  border: 1px solid var(--primary-color) !important;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

/* LABELS, INPUTS, LIST ITEMS, AND BUTTONS */

label {
  display: inline-block;
  margin: 10px 0 5px 0;
}

/* small {
  visibility: hidden;
} */

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  outline: none;
}

input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  height: 420px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  overflow: auto;
  position: relative;
}

.list li {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0 12px 0;
  cursor: pointer;
}

.list li:hover {
  box-shadow: var(--box-shadow);
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.date-span {
  position: sticky;
  top: 0px;
  padding: 7px;
  width: 6rem;
  font-size: 13px;
  border-radius: 20px;
  color: white;
  background-color: var(--primary-color);
  z-index: 2;
}

.delete-btn:hover {
  background-color: #e74c3c;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 40px 0 40px;
  }

  .date-span {
    width: 6rem;
  }

  .history-search {
    margin: 20px 0 0 0;
  }
}
